.pixobe-container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  gap: 2px;
}

.pixobe-settings-form h1 {
  margin: 16px 0;
}

.btn-group {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.wp-core-ui .button-accent {
  background-color: #fbbf24;
  color: #451a03;
  border-color: #f59e0b;
}

.wp-core-ui .button-accent:hover {
  background: #f59e0b;
  border-color: #d97706;
}
